body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.navbar.navbar-expand-lg.navbar-light.bg-light {
	background-color: #000000
}

h2 {
	text-align: center;
	margin-bottom: 15px;
	color: #ffffff;
	background-color: #363142;
	width: 100%;
	line-height: 100px;
}

#head3 {
	text-align: center;
	font-size: 1.5em;
	background-color: #e2e2e2;
	width: 100%;
	margin-top: 15px;
}

#menu-tile {
	background-color: #e2e2e2;
	border: 2px solid #fff;
	margin-bottom: 15px;
	padding-bottom: 15px;
}

	

